<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <p id="contact"><i class="fa fa-map-marker"></i> 12345 Drill Avenue, Drill City, DR  <i class="fa fa-phone"></i> 123.456.7890 <span class="pull-right">Visit us on <a href="http://facebook.com">Facebook</a></span></p>
          <p class="text-center" id="brand">DRILL</p>
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/workouts" id="viewWorkouts">View Workouts</a></li>
              <li><a class="switch" href="/" id="create"  onclick="removeDiv('welcome');">Create a Plan</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout" id="logout">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div> <!-- end navbar -->

      <div class="row">
        <div class="col-lg-12">
          <div class="show" id="welcome">
            <p class="text-center">GET IN THE BEST SHAPE OF YOUR LIFE.</p>
          </div>
          <div class="hide" id="createMsg">
            <h1 id="stayFit" class="text-center">Stay fit. Stay Focused.</h1>
            <h3 id="chooseMsg" class="text-center">Choose one of the following plans.</h3>
          </div> <!-- end welcome message -->
        </div>
      </div>
    </div>
    <div class="container" id="plansContainer">
      <div class="row hide" id="planTypes">
        <div class="col-lg-4"> <!-- Get Moving Plan -->
          <div class="panel panel-default" id="panelOne">
            <div class="panel-body"><img src="../img/runcrop.jpg" class="img-responsive">
              <h1 class="text-center">Get Moving</h1>
              <p class="planText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
              <button type="button" class="btn btn-default" id="panelOneButton">Get Started</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4"> <!-- Build Muscle Plan -->
          <div class="panel panel-default" id="panelTwo">
            <div class="panel-body"><img src="../img/gainmusclecrop.jpg" class="img-responsive">
              <h1 class="text-center">Build Muscle</h1>
              <p class="planText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
              <button type="button" class="btn btn-default" id="panelTwoButton">Get Started</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4"> <!-- Lose Weight Plan -->
          <div class="panel panel-default" id="panelThree">
            <div class="panel-body"><img src="../img/start.jpg" class="img-responsive">
              <h1 class="text-center">Lose Weight</h1>
              <p class="planText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
              <button type="button" class="btn btn-default" id="panelThreeButton">Get Started</button>
            </div>
          </div>
        </div>
      </div> <!-- end of plan types -->
    </div>

    <div class="row">
      <div class="hide" id="getMoving"> <!-- create a Get Moving plan -->
        <div class="col-lg-6 col-lg-offset-3">
          <div class="panel panel-default intro">
            <div class="panel-body">
              <h1>Introduction</h1>
              <p>Welcome to the workout configuration wizard. During the configuration, you must use the buttons in at the bottom of this wizard to navigate between the various options.</p>
              <button type="submit" class="page2">Next</button>
            </div>
          </div>
          <div class="level hide">
            <div class="panel panel-default chooselevel">
              <div class="panel-body">
                <form>
                  <h1>Training Level</h1>
                  <input type="checkbox" value="Beginner Level" name="level">Beginner Level<br>
                  <p>Recommended for people with very low physical activity and little or no weight training experience.</p><br><br>
                  <input type="checkbox" value="Intermediate Level" name="level">Intermediate Level<br>
                  <p>Recommended for people with low physical activity but some weight training experience.</p><br><br>
                  <input type="checkbox" value="Advanced Level" name="level">Advanced Level<br>
                  <p>Recommended for people with moderate to high physical activity who are experienced in weight training.</p><br><br>
                  <button type="submit" class="page3">Next</button>
                </form>
              </div>
            </div>
          </div>
          <div class="goal hide">
            <div class="panel panel-default choosegoal">
              <div class="panel-body">
                <form>
                  <h1>Fitness Goals</h1>
                  <input type="checkbox" value="Lose Weight" name="goal">Weight Loss<br>
                  <p>Lose Weight</p><br><br>
                  <input type="checkbox" value="Gain Muscle" name="goal">Weight Gain<br>
                  <p>Gain Muscle</p><br><br>
                  <button type="submit" class="page4">Next</button>
                </form>
              </div>
            </div>
          </div>
          <div class="days hide">
            <div class="panel panel-default chooseday">
              <div class="panel-body">
                <form>
                  <h1>Select Days</h1>
                  <p>Select a set of days:</p>
                  <input type="checkbox" value="Monday, Wednesday, Friday" name="day">Monday, Wednesday, Friday<br>
                  <input type="checkbox" value="Tuesday, Thursday, Saturday" name="day">Tuesday, Thursday, Saturday<br>
                  <button type="submit" class="page5">Generate Plan</button>
                </form>
              </div>
            </div>
          </div>
          <div class="summary hide">
            <div class="panel panel-default results">
              <div class="panel-body">
                <form>
                  <h1>Results</h1>
                  <p id="mvSummary">Here are your results.</p>
                  <div class="genResults hide">
                    <h3>Workouts</h3>
                    <p>Day One: Cardio, Arms, Abs</p>
                    <p>Day Two: Cardio, Chest, Shoulders</p>
                    <p>Day Three: Cardio, Back, Legs</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="hide" id="buildMuscle"> <!-- create a build muscle plan -->
        <div class="col-lg-6 col-lg-offset-3">
          <div class="panel panel-default intro">
            <div class="panel-body">
              <h1>Introduction</h1>
              <p>Welcome to the workout configuration wizard. During the configuration, you must use the buttons in at the bottom of this wizard to navigate between the various options.</p>
              <button type="submit" class="page2">Next</button>
            </div>
          </div>
          <div class="level hide">
            <div class="panel panel-default chooselevel">
              <div class="panel-body">
                <form>
                  <h1>Training Level</h1>
                  <input type="checkbox" value="Beginner Level" name="bmLevel">Beginner Level<br>
                  <p>Recommended for people with very low physical activity and little or no weight training experience.</p><br><br>
                  <input type="checkbox" value="Intermediate Level" name="bmLevel">Intermediate Level<br>
                  <p>Recommended for people with low physical activity but some weight training experience.</p><br><br>
                <input type="checkbox" value="Advanced Level" name="bmLevel">Advanced Level<br>
                  <p>Recommended for people with moderate to high physical activity who are experienced in weight training.</p><br><br>
                  <button type="submit" class="page3">Next</button>
                </form>
              </div>
            </div>
          </div>
          <div class="goal hide">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <h1>Fitness Goals</h1>
                  <input type="checkbox" value="Lose Weight" name="bmGoal">Weight Loss<br>
                  <p>Lose Weight</p><br><br>
                  <input type="checkbox" value="Gain Muscle" name="bmGoal">Weight Gain<br>
                  <p>Gain Muscle</p><br><br>
                  <button type="submit" class="page4">Next</button>
                </form>
              </div>
            </div>
          </div>
          <div class="days hide">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <h1>Select Days</h1>
                  <p>Select a set of days:</p>
                  <input type="checkbox" value="Monday, Wednesday, Friday" name="bmDay">Monday, Wednesday, Friday<br>
                  <input type="checkbox" value="Tuesday, Thursday, Saturday" name="bmDay">Tuesday, Thursday, Saturday<br>
                  <button type="submit" class="page5">Generate Plan</button>
                </form>
              </div>
            </div>
          </div>
          <div class="summary hide">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <h1>Review Your Selections</h1>
                  <p id="bmSummary">Here is a summary of your selections. Press 'Submit' to generate workout.</p>
                  <div class="genResults hide">
                    <h3>Workouts</h3>
                    <p>Day One: Cardio, Arms, Abs</p>
                    <p>Day Two: Cardio, Chest, Shoulders</p>
                    <p>Day Three: Cardio, Back, Legs</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="hide" id="loseWeight"> <!-- create a lose weight plan -->
        <div class="col-lg-6 col-lg-offset-3">
          <div class="panel panel-default intro">
            <div class="panel-body">
              <h1>Introduction</h1>
              <p>Welcome to the workout configuration wizard. During the configuration, you must use the buttons in at the bottom of this wizard to navigate between the various options.</p>
              <button type="submit" class="page2">Next</button>
            </div>
          </div>
          <div class="level hide">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <h1>Training Level</h1>
                  <input type="checkbox" value="Beginner Level" name="lwLevel">Beginner Level<br>
                  <p>Recommended for people with very low physical activity and little or no weight training experience.</p><br><br>
                  <input type="checkbox" value="Intermediate Level" name="lwLevel">Intermediate Level<br>
                  <p>Recommended for people with low physical activity but some weight training experience.</p><br><br>
                  <input type="checkbox" value="Advanced Level" name="lwLevel">Advanced Level<br>
                  <p>Recommended for people with moderate to high physical activity who are experienced in weight training.</p><br><br>
                  <button type="submit" class="page3">Next</button>
                </form>
              </div>
            </div>
          </div>
          <div class="goal hide">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <h1>Fitness Goals</h1>
                  <input type="checkbox" value="lose" name="lwGoal">Weight Loss<br>
                  <p>Lose Weight</p><br><br>
                  <input type="checkbox" value="gain" name="lwGoal">Weight Gain<br>
                  <p>Gain Muscle</p><br><br>
                  <button type="submit" class="page4">Next</button>
                </form>
              </div>
            </div>
          </div>
          <div class="days hide">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <h1>Select Days</h1>
                  <p>Select a set of days:</p>
                  <input type="checkbox" value="Monday, Wednesday, Friday" name="lwDay">Monday, Wednesday, Friday<br>
                  <input type="checkbox" value="Tuesday, Thursday, Saturday" name="lwDay">Tuesday, Thursday, Saturday<br>
                  <button type="submit" class="page5">Generate Plan</button>
                </form>
              </div>
            </div>
          </div>
          <div class="summary hide">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <h1>Review Your Selections</h1>
                  <p id="lwSummary">Here is a summary of your selections. Press 'Submit' to generate workout.</p>
                  <div class="genResults hide">
                    <h3>Workouts</h3>
                    <p>Day One: Cardio, Arms, Abs</p>
                    <p>Day Two: Cardio, Chest, Shoulders</p>
                    <p>Day Three: Cardio, Back, Legs</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container show" id="homePanels">
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-body home"><img src="../img/left.jpg" class="img-responsive img-circle">
              <h1 class="text-center" id="panelTitle">About Drill</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-primary">
            <div class="panel-body home"><img src="../img/middle.jpg" class="img-responsive img-circle">
              <h1 class="text-center" id="panelTitle">Health & Fitness</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4"> <!-- Lose Weight Plan -->
          <div class="panel panel-primary">
            <div class="panel-body home"><img src="../img/right.jpg" class="img-responsive img-circle">
              <h1 class="text-center" id="panelTitle">No Excuses</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </div> <!-- end of plan types -->
    </div>

    <script src="../js/map.js"></script>
    <script src="../js/default.js"></script>
    <script src="../js/create.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
