@font-face {
  font-family: 'extra';
  src: url(../fonts/SourceSansPro-ExtraLight-webfont.ttf);
}

@font-face {
  font-family: 'pirulen';
  src: url(../fonts/pirulen.regular.ttf);
}
@font-face {
  font-family: 'bold';
  src: url(../fonts/OpenSans-CondBold.ttf);
}

@font-face {
  font-family: 'light';
  src: url(../fonts/OpenSans-CondLight.ttf);
}

body {
  font-family: 'extra' !important;
  font-size: 16px !important;
  color: rgb(240, 240, 240) !important;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  display: block;
  margin: 0 auto;
}

a:hover {
  color: rgb(73, 195, 93) !important;
}

button {
  background-color: rgb(73, 195, 93) !important;
  border-color: rgb(73, 195, 93) !important;
  border-radius: 0px !important;
  color: rgb(240, 240, 240) !important;
}

/*.panel,*/
.panel-default {
  color: rgb(240, 240, 240);
  background-image: url(../img/panelbackground.jpg) !important;
  border: 2px solid;
  border-color: rgb(180, 180, 180);
  border-radius: 0 !important;
}

.panel-primary {
  background: #000 !important;
  border-radius: 0px !important;
  border-color: #000 !important;
}

.navbar {
  width: 100%;
  border-radius: 0 !important;
}

.navbar-inverse {
  color: rgb(219, 219, 219) !important;
  background-image: url(../img/panelbackground.jpg) !important;
  text-decoration: none;
}

. {
  height: 300px;
  width: 300px;
  margin: auto;
}

.planText {
  width: 275px;
}

.workout {
  border: 1px solid;
  background-image: url(../img/panelbackground.jpg) !important;
  width: 900px;
  height: auto;
  padding: 10px;
  margin: auto;
}

.description {
  border-bottom: 2px black dashed;
}

.media {
  background-color: black;
}

.msg {
  position: relative;
  top: 50px;
  z-index: 0;
}

.icon-img {
  width: 100px;
  height: 100px;
}

#background {
  background-image: url(https://www.adidas.com/com/apps/micoach/img/top_banner.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact {
  margin: 10px 20px 10px 20px;
}
#homeBrand {
  font-size: 72px;
  font-family: 'pirulen';
}
#brand {
  font-size: 72px;
  font-family: 'pirulen';
}
#find {
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}

#panelTitle {
  color: rgb(73, 195, 93) !important;
}

#sub {
  font-size: 20px;
  color: white;
  font-family: 'extra';
}

#loginPanel {
  float: right;
  right: 50px;
  width: 300px;
  background-color: #313c53;
  z-index: 10;
}

#createPlans {
  margin:auto;
}

#getMoving,
#buildMuscle,
#loseWeight {
  width: 900px;
  margin: auto;
}
#panelOne,
#panelTwo,
#panelThree {
  width: 350px;
  height: 625px;
  color: rgb(240, 240, 240);
  background-image: url(../img/panelbackground.jpg) !important;
  border: 2px solid;
  border-color: rgb(180, 180, 180);
  border-radius: 0 !important;
}

#description {
  width: 900px;
  margin: auto;
  border-radius: 0;
}

#workoutsContainer {
  margin-bottom: 100px;
}

#welcome,
#stayFit {
  font-family: 'light' !important;
  font-size: 72px !important;
}
#chooseMsg {
  font-size: 20px;
}
#searchContainer {
  margin-top: 100px;
}

#displayPlan {
  width: 200px;
}

#map {
  height: 600px;
}

#plansContainer {
  margin: auto;
}
